body {
  background-color: rgba(185, 170, 170, 0.2);
}

.screen {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_theses {
  width: 50%;
  margin-left: 5%;
}

.use-keyboard-input {
  width: 80%;
  margin: 0 5%;
}

.keyboard {
  position: fixed;
  left: 5%;
  bottom: 0;
  width: 90%;
  padding: 5px 0;
  background: #004134;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.4s;
}

.keyboard--hidden {
  bottom: -100%;
}

.keyboard__keys {
  text-align: center;
}

.keyboard__key {
  height: 45px;
  width: 6%;
  max-width: 90px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.keyboard__key:active {
  background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
  width: 12%;
}

.keyboard__key--extra-wide {
  width: 36%;
  max-width: 500px;
}

.keyboard__key--activatable::after {
  content: '';
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.keyboard__key--active::after {
  background: #08ff00;
}

.keyboard__key--dark {
  background: rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 991px) {
  .keyboard__key {
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    font-size: 1rem;
  }

  .keyboard__key--extra-wide {
    width: 36%;
    max-width: 450px;
  }

  .keyboard__key--activatable::after {
    content: '';
    top: 8px;
    right: 8px;
    position: absolute;
    width: 6px;
    height: 6px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }
  .keyboard__key--active::after {
    background: #08ff00;
  }

  .keyboard__key--dark {
    background: rgba(0, 0, 0, 0.25);
  }
}

@media screen and (max-width: 767px) {
  .main_theses h1 {
    font-size: 24px;
  }

  .main_theses h2 {
    font-size: 20px;
  }

  .keyboard__key {
    height: 35px;
    width: 6%;
    max-width: 70px;
    margin: 2px;
    border-radius: 3px;
  }

  .keyboard__key--extra-wide {
    width: 36%;
    max-width: 450px;
  }

  .keyboard__key--activatable::after {
    content: '';
    top: 4px;
    right: 4px;
    position: absolute;
    width: 6px;
    height: 6px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }
  .keyboard__key--active::after {
    background: #08ff00;
  }

  .keyboard__key--dark {
    background: rgba(0, 0, 0, 0.25);
  }
}

@media screen and (max-width: 479px) {
  .screen {
    flex-direction: column;
  }

  .main_theses {
    width: 90%;
  }

  .use-keyboard-input {
    width: 90%;
    margin: 0;
  }

  .keyboard__key {
    height: 25px;
    width: 6%;
    max-width: 50px;
    margin: 1px;
    border-radius: 2px;
    font-size: 1rem;
  }

  .keyboard__key--extra-wide {
    width: 36%;
    max-width: 450px;
  }

  .keyboard__key--activatable::after {
    content: '';
    top: 1px;
    right: 1px;
    position: absolute;
    width: 5px;
    height: 5px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }
  .keyboard__key--active::after {
    background: #08ff00;
  }

  .keyboard__key--dark {
    background: rgba(0, 0, 0, 0.25);
  }
}
